table, th, td {
    border: 1px solid;
}

table {
  border-collapse: collapse;
}

tr.grey {
  background-color: #f4f4f4;
}

div#detail_div {
  position: fixed;
  top: 0;
  right: 0;
}

div#detail_div canvas {
  width: 500px;
  height: 300px;
}

div.freq span{
  display: inline-block;
  background-color: #1e90ff;
  text-align: center;
  width: 1em;
  height: 1em;
}
